body{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 237, 231);
    box-sizing: border-box;
}

.content{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    min-width: 200px;
    display: flex;
    flex-direction: column;

    padding: 20px 10px;

    background-color:rgb(145, 174, 212);
    font-size: 2rem;
}

.default-project, .project-header{
    font-weight: bold;
}

.default-project{
    font-size: 1.5rem;
    border-bottom: 2px solid steelblue;
    cursor: pointer;
}

.projects{
    font-size: 1.5rem;
    font-style: italic;
}

.project-header{

}

.project-item{
    border-bottom: 1px solid steelblue;
    border-left: 5px solid steelblue;
    cursor: pointer;
}

.project-item:first-child{
    border-top: 1px solid steelblue;
}

.add-project{
    margin-top: 10px;
    font-style: normal;
    padding-left: 5px;
    font-size: 1.5rem;
}

.add-project > span, .task-add > span{
    border: 1px solid steelblue;
    border-radius: 20px;
    padding: 4px 8px;
    cursor: pointer;
    
}

.add-project > span:hover, .project-item:hover, .default-project:hover, .task-add > span:hover, .active-project{
    background-color: steelblue;
    color: white;
}

.main-content{
    padding: 10px 20px;
    font-size: 1.2rem;
}

.project-name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.tasks{
    display: flex;
    flex-direction: column;
}

.task-row{
    display: grid;
    grid-template-columns: 1fr 100px 250px;
    width: max(60%, 800px);

    padding: 15px 5px;
    border-left: 5px solid steelblue;
    border-bottom: 1px solid steelblue;
    
}
.task-row:first-child{
    border-top: 1px solid steelblue;
}

.task-add{
    margin-top: 15px;
    padding-left: 15px;
}

.task-btns{
    padding-left: 20px;
}

.task-btns > button, .add-btns > button, .content-header>button{
    background-color: rgb(53, 53, 54);
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 0px;
    margin-left: 5px;
    width: 60px;
    font-weight: bold;
    cursor: pointer;
}

.task-btns > button:hover, .add-btns>button:hover, .content-header>button:hover{
    color: rgb(53, 53, 54);
    background-color: white;
}

.task-desc{
    padding-left: 20px;
    margin: 10px;
    font-size: 1rem;
}

.task-add-form, .task-edit-form{
    margin-top: 20px;
    width: max(40%, 500px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: start;
}

.hidden {
    display: none;
  }

.input-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
    font-size: 1rem;
    color: gray;
}

.input-field > input{
}

.content-header{
    width: max(60%, 800px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header>button{
    width: 180px;
    height: 40px;
    font-size: 1.2rem;
    padding: 0;
}

.prio-high:hover{
    background-color: red;
}

.prio-medium:hover{
    background-color: yellow;
}

.prio-low:hover{
    background-color: green;
}

.bad-input{
    outline: 1px solid red;
}

.add-new-project-btns > button{
    margin-left: 3px;
    background-color: steelblue;
    color: white;
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

#new-project-name{
    padding: 5px;
    border: none;
    border-radius: 20px;
}

.task-finished{
    background-color: rgb(21, 243, 21);
    color: gray;
    text-decoration: line-through;
}

.task-finished:hover{
    background-color: rgb(21, 243, 21);
}